In [90]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

In [91]:
#Read in the csv
lending_data = pd.read_csv("LoanStats_2019Q1.csv")

/Users/kenmurakami/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
lending_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000.0,12000.0,12000.0,36 months,16.40%,424.26,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000.0,3000.0,3000.0,36 months,14.74%,103.62,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000.0,35000.0,35000.0,36 months,15.57%,1223.08,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000.0,5000.0,5000.0,36 months,15.57%,174.73,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
lending_df = lending_data[["loan_status","grade","sub_grade","annual_inc","dti","addr_state","int_rate"]]
status = lending_df.groupby("loan_status").count()
status

,grade,sub_grade,annual_inc,dti,addr_state,int_rate
loan_status,,,,,,
Charged Off,176,176,176,176,176,176
Current,109176,109176,109176,108936,109176,109176
Fully Paid,4730,4730,4730,4716,4730,4730
In Grace Period,538,538,538,537,538,538
Late (16-30 days),260,260,260,259,260,260
Late (31-120 days),795,795,795,794,795,795

In [137]:
#Create the upsample and downsample
downsample = lending_df[(lending_df["loan_status"] == "Charged Off") | (lending_df["loan_status"] == "Late (31-120 days)")]
upsample = lending_df[(lending_df["loan_status"] == "Fully Paid")]

       loan_status grade sub_grade  annual_inc    dti addr_state int_rate
64      Fully Paid     C        C3     65000.0  15.18         CO   15.57%
87      Fully Paid     C        C5     82000.0  15.70         MO   17.19%
91      Fully Paid     C        C1     90000.0   7.92         NY   13.90%
105     Fully Paid     D        D5     17808.0  30.12         OH   28.80%
133     Fully Paid     B        B4     38000.0  38.66         GA   12.40%
137     Fully Paid     D        D1     45000.0  19.07         FL   17.97%
147     Fully Paid     C        C4     90000.0  14.72         TX   16.40%
183     Fully Paid     B        B5    125890.0  30.48         VA   13.08%
206     Fully Paid     A        A5     50000.0  18.48         MO    8.81%
233     Fully Paid     C        C3     50000.0  38.67         FL   15.57%
246     Fully Paid     B        B4    150000.0  11.99         NC   12.40%
252     Fully Paid     A        A3     45000.0   8.00         MD    7.56%
335     Fully Paid     D        D2     68000.0  21.80         NY   20.00%
342     Fully Paid     A        A2    116800.0  18.74         WA    7.02%
397     Fully Paid     B        B3     54000.0  21.49         NY   11.71%
514     Fully Paid     B        B4    105000.0  18.82         CA   12.40%
564     Fully Paid     B        B5     54000.0  20.24         CO   13.08%
577     Fully Paid     A        A1     59000.0   2.64         TX    6.46%
600     Fully Paid     B        B2     68000.0  14.60         PA   11.02%
634     Fully Paid     C        C5     72500.0  17.00         AL   17.19%
711     Fully Paid     B        B5     82500.0  23.39         AZ   13.08%
847     Fully Paid     A        A3    115000.0  27.84         NJ    7.56%
868     Fully Paid     D        D2     75000.0  25.07         OH   20.00%
878     Fully Paid     D        D2     30000.0  29.68         NV   20.00%
900     Fully Paid     C        C3     46620.0  14.65         VT   15.57%
914     Fully Paid     C        C4     46000.0  13.87         NC   16.40%
958     Fully Paid     D        D2    170000.0  11.22         CA   20.00%
980     Fully Paid     D        D5     85000.0   2.87         CA   28.80%
1012    Fully Paid     C        C4     46000.0  31.78         TN   16.40%
1014    Fully Paid     C        C1     62000.0  22.57         TX   13.90%
...            ...   ...       ...         ...    ...        ...      ...
115120  Fully Paid     C        C3     45000.0  30.08         KY   15.02%
115129  Fully Paid     B        B2     83000.0  13.00         NY   10.72%
115218  Fully Paid     E        E4     54000.0  34.04         MI   26.31%
115252  Fully Paid     A        A4    150000.0   7.08         IL    8.19%
115253  Fully Paid     A        A2    150000.0   9.77         FL    7.02%
115346  Fully Paid     B        B2     52000.0   7.85         NH   10.72%
115406  Fully Paid     A        A1     65000.0   1.16         NY    6.46%
115416  Fully Paid     A        A1     40019.0  24.99         CO    6.46%
115425  Fully Paid     B        B3     62000.0  20.27         NY   11.31%
115439  Fully Paid     B        B2     49000.0  13.03         MN   10.72%
115443  Fully Paid     A        A3     77000.0   9.40         PA    7.56%
115454  Fully Paid     A        A4    119000.0  10.43         KY    8.19%
115456  Fully Paid     C        C3     50000.0  37.21         TX   15.02%
115471  Fully Paid     B        B4    125000.0  22.78         NY   11.80%
115484  Fully Paid     A        A4     60000.0   4.52         UT    8.19%
115488  Fully Paid     A        A5    120000.0  18.84         PA    8.81%
115499  Fully Paid     D        D3    104000.0  22.01         OH   19.92%
115522  Fully Paid     D        D2     62000.0  10.19         CA   18.94%
115526  Fully Paid     A        A3    103000.0  13.57         FL    7.56%
115544  Fully Paid     C        C4     63000.0  26.21         AK   16.14%
115554  Fully Paid     B        B2     88000.0  35.46         CA   10.72%
115555  Fully Paid     B        B4    130000.0   4.30         CO   11.80%
115582  Fully Paid     B        B2    124000.0  18.12         MS   10.72%
115598  Fully Paid     D        D2     55000.0  18.08         TN   18.94%
115599  Fully Paid     D        D4    100000.0  25.09         WA   20.89%
115608  Fully Paid     E        E1     18000.0  18.40         TX   23.40%
115609  Fully Paid     A        A2    125000.0   1.82         CA    7.02%
115610  Fully Paid     B        B5     30000.0  16.32         AZ   12.98%
115624  Fully Paid     A        A2    170000.0   5.41         CA    7.02%
115657  Fully Paid     C        C1     55000.0  32.75         MI   13.56%

[4730 rows x 7 columns]