In [90]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

In [91]:
#Read in the csv
lending_data = pd.read_csv("LoanStats_2019Q1.csv")

/Users/kenmurakami/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
lending_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000.0,12000.0,12000.0,36 months,16.40%,424.26,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000.0,3000.0,3000.0,36 months,14.74%,103.62,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000.0,35000.0,35000.0,36 months,15.57%,1223.08,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000.0,5000.0,5000.0,36 months,15.57%,174.73,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
lending_df = lending_data[["loan_status","grade","sub_grade","annual_inc","dti","addr_state","int_rate"]]
status = lending_df.groupby("loan_status").count()
status

,grade,sub_grade,annual_inc,dti,addr_state,int_rate
loan_status,,,,,,
Charged Off,176,176,176,176,176,176
Current,109176,109176,109176,108936,109176,109176
Fully Paid,4730,4730,4730,4716,4730,4730
In Grace Period,538,538,538,537,538,538
Late (16-30 days),260,260,260,259,260,260
Late (31-120 days),795,795,795,794,795,795

In [162]:
#Create the upsample and downsample
small_sample = lending_df[(lending_df["loan_status"] == "Charged Off") | (lending_df["loan_status"] 
                                                                        == "Late (31-120 days)")]
large_sample = lending_df[(lending_df["loan_status"] == "Fully Paid")]

In [165]:
small_sample.head()
large_sample.head()

    loan_status grade sub_grade  annual_inc    dti addr_state int_rate
64   Fully Paid     C        C3     65000.0  15.18         CO   15.57%
87   Fully Paid     C        C5     82000.0  15.70         MO   17.19%
91   Fully Paid     C        C1     90000.0   7.92         NY   13.90%
105  Fully Paid     D        D5     17808.0  30.12         OH   28.80%
133  Fully Paid     B        B4     38000.0  38.66         GA   12.40%

In [172]:
n_class0 = len(small_sample)
n_class1 = len(large_sample)

under = large_sample.sample(n_class0)
sample_df = pd.concat([under, small_sample], axis=0)

len(sample_df)

1942

In [173]:
X = sample_df[["grade", "sub_grade","annual_inc", "dti", "int_rate"]]
y = sample_df["loan_status"].values.reshape(-1,1)
print(X.shape, y.shape)

(1942, 5) (1942, 1)

In [179]:
#making loan_status binary

data_binary_encoded = pd.get_dummies(sample_df, columns=["loan_status"])
pd.data_binary_encoded

,grade,sub_grade,annual_inc,dti,addr_state,int_rate,loan_status_Charged Off,loan_status_Fully Paid,loan_status_Late (31-120 days)
1269,D,D1,45000.0,26.77,NJ,17.97%,0,1,0
77523,C,C1,65000.0,11.63,NY,13.56%,0,1,0
17572,C,C5,85500.0,18.02,NY,17.19%,0,1,0
107005,D,D3,48200.0,56.03,MO,19.92%,0,1,0
104501,E,E5,82000.0,15.31,NY,27.27%,0,1,0
2448,C,C2,70000.0,15.19,FL,14.74%,0,1,0
17109,C,C4,127000.0,11.20,NY,16.40%,0,1,0
58036,D,D4,86000.0,31.97,CA,20.89%,0,1,0
104770,C,C1,75000.0,18.93,OH,13.56%,0,1,0
99772,A,A5,72000.0,22.33,MN,8.81%,0,1,0
72386,D,D1,78000.0,28.63,WV,17.97%,0,1,0
77637,D,D1,96000.0,22.83,CO,17.97%,0,1,0
56474,B,B5,192000.0,14.21,MD,12.98%,0,1,0
43368,A,A2,29911.0,30.30,TX,7.02%,0,1,0
44109,C,C1,81313.0,28.75,FL,13.90%,0,1,0
18404,D,D1,69000.0,15.83,TX,17.97%,0,1,0
96243,C,C3,90000.0,23.12,KY,15.02%,0,1,0
63210,E,E1,96000.0,17.29,KY,23.40%,0,1,0
49764,B,B2,125000.0,21.52,NV,10.72%,0,1,0
75015,E,E2,68000.0,17.98,TX,24.37%,0,1,0
60721,B,B4,71000.0,21.38,NY,11.80%,0,1,0
17219,C,C3,145000.0,25.30,MI,15.57%,0,1,0
23706,D,D2,93000.0,11.38,WI,20.00%,0,1,0
86211,E,E3,86000.0,6.48,MI,25.34%,0,1,0
34493,C,C2,120000.0,29.95,MD,14.47%,0,1,0
56818,A,A1,200000.0,10.31,CO,6.46%,0,1,0
100149,C,C2,85000.0,38.64,FL,14.47%,0,1,0
83023,B,B2,96000.0,10.73,NY,10.72%,0,1,0
33327,C,C4,28000.0,32.23,AL,16.40%,0,1,0
40381,D,D3,60000.0,11.56,MO,19.92%,0,1,0
...,...,...,...,...,...,...,...,...,...
112749,D,D3,72000.0,22.50,PA,19.92%,0,0,1
112933,C,C3,45000.0,25.55,CA,15.02%,0,0,1
112958,D,D2,13000.0,53.59,NY,18.94%,0,0,1
113174,C,C4,96000.0,20.77,MD,16.14%,1,0,0
113333,B,B4,90000.0,18.91,NY,11.80%,0,0,1
113394,D,D5,57000.0,25.75,NC,22.35%,0,0,1
113488,D,D3,100000.0,0.86,NY,19.92%,1,0,0
113682,C,C4,84000.0,12.80,CT,16.14%,1,0,0
113821,D,D4,54000.0,62.78,MO,20.89%,0,0,1
113908,B,B1,43000.0,15.43,WA,10.33%,0,0,1
113957,E,E5,85000.0,18.90,FL,27.27%,0,0,1
114212,C,C1,87912.0,13.35,CA,13.56%,1,0,0
114357,E,E5,68000.0,19.05,PA,27.27%,0,0,1
114804,D,D4,50000.0,8.28,CA,20.89%,0,0,1
114900,B,B2,78000.0,16.03,NJ,10.72%,1,0,0
114970,D,D3,170000.0,4.69,PA,19.92%,0,0,1
114981,B,B2,30000.0,22.64,MI,10.72%,1,0,0
115013,E,E5,142000.0,38.32,VA,27.27%,0,0,1
115136,C,C4,98500.0,8.50,IL,16.14%,0,0,1
115204,C,C4,91500.0,5.29,MA,16.14%,1,0,0
115222,A,A1,150000.0,6.23,IL,6.46%,0,0,1
115228,A,A4,87000.0,15.50,CA,8.19%,0,0,1
115247,B,B4,30000.0,31.32,GA,11.80%,0,0,1
115485,A,A5,206400.0,3.98,FL,8.81%,0,0,1
115521,D,D3,20160.0,9.86,MI,19.92%,0,0,1
115525,A,A1,125000.0,7.38,CA,6.46%,0,0,1
115545,C,C4,64000.0,18.06,OR,16.14%,0,0,1
115596,E,E1,59000.0,30.88,MI,23.40%,0,0,1
115602,E,E1,66000.0,27.20,NV,23.40%,0,0,1
115656,C,C3,70000.0,34.78,GA,15.02%,0,0,1